.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #001935;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-right-items {
    padding: 8px;
}

