.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 150px;
}

.rice-logo {
    height: 50px;
}

.navbar-left {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-right-items {
    padding: 8px;
    text-transform: capitalize;
}


