.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 150px;
}

.rice-logo {
    height: 80px;
}

.navbar-left {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.navbar-left h1 {
    font-family: 'Grandstander', cursive;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-right-items {
    padding: 8px;
    text-transform: capitalize;
}

.navbar-right-items button {
    width: 75px;
    height: 30px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px;
    background-color: lightslategrey;
    text-align: center;
    color: white;
    cursor: pointer;
}

