.all-burps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 0;
    text-align: center;
}

.burpbox {
    display: flex;
    margin: 8px 0;
}

.burp-author {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 120px;
    /* margin-right: 10px; */
}

.burps {
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
