.profile {
    display: flex;
    flex-direction: column;
    /* margin: 0 150px; */
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
}

.profile-top {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}


.profile-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile-img {
    border-radius: 60px; 
    border: 1px solid lightslategray;
    padding: 16px;
    position: relative;
}

.profile-img img{
    height: 80px;
    width: 80px;
}

.profile-bio {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-map-marker-alt {
    color: salmon;
    margin-right: 4px;
}

.fa-user-edit {
    color: lightslategrey;
    z-index: 1;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* .edit-form-wrapper {
    width: 100%;
    height: 100%;
} */

.edit-form {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.edit-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.edit-form input {
    border: 1px solid lightgray;
    width: 60%;
    height: 32px;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
}

.edit-form-options {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 50%;
    position: relative;
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); */
}


.edit-buttons {
    display: flex;
    justify-content: center;
    margin: 4px;
    font-size: 18px;
    /* color: lightslategrey; */
}

.edit-icon {
    cursor: pointer;
    text-align: end;
    position: absolute;
    top: 16px;
    right: 20px;
}

.fa-check-circle {
    font-size: 30px;
    color: salmon;
}

.edit-form-headers {
    list-style: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    margin: 4px;
    /* justify-content: center; */
}

.active {
    border-bottom: 1px solid salmon;
}

.edit-form-headers li {
    margin: 0 5px;
}

.defaults-container {
    min-height: 475px;
    /* display: flex; */
    /* justify-content: center; */
}

.avatars-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 8px;
    min-height: 475px;
    cursor: pointer;
}

.edit {
    margin: 8px;
}

.align {
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}