.splash {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.splash-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; */
}

.splash-body {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0 150px;
}

.splash-body img {
    width: 250px;
    height: 250px;
}

.splash-body-p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.splash-body-p article {
    padding: 20px;
}
